 <div class="container mt-4">
      <h1 class="text-center mb-4">Tirage au Sort</h1>

      <!-- Formulaire de lancement de tirage -->
      <form [formGroup]="tirageForm" (ngSubmit)="lancerTirage()" class="mb-5">
        <div class="row">
          <div class="col-md-4">
            <label for="zone_id" class="form-label">Zone</label>
            
            <!-- <select name="" id=""> -->
            <input
              type="enum"
              id="zone_id"
              formControlName="zone_id"
              class="form-control"
              placeholder="ID de la Zone"
            />
            <!-- </select> -->
            <div *ngIf="tirageForm.get('zone_id')?.invalid && tirageForm.get('zone_id')?.touched" class="text-danger">
              La zone est requise.
            </div>
          </div>

          <div class="col-md-4">
            <label for="nombre_poules" class="form-label">Nombre de Poules</label>
            <input
              type="number"
              id="nombre_poules"
              formControlName="nombre_poules"
              class="form-control"
              placeholder="Nombre de Poules"
            />
            <div *ngIf="tirageForm.get('nombre_poules')?.invalid && tirageForm.get('nombre_poules')?.touched" class="text-danger">
              Veuillez indiquer un nombre valide.
            </div>
          </div>

          <div class="col-md-4">
            <label for="phase" class="form-label">Phase</label>
            <select id="phase" formControlName="phase" class="form-select">
              <option value="">Choisir une phase</option>
              <option value="Phase de groupes">Phase de groupes</option>
              <option value="Quarts de finale">Quarts de finale</option>
              <option value="Demi-finales">Demi-finales</option>
              <option value="Finale">Finale</option>
            </select>
            <div *ngIf="tirageForm.get('phase')?.invalid && tirageForm.get('phase')?.touched" class="text-danger">
              La phase est requise.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" [disabled]="tirageForm.invalid">
          Lancer le Tirage
        </button>
      </form>

      <!-- Affichage des poules -->
      <div *ngIf="poules.length > 0">
        <h2 class="text-center">Résultats du Tirage</h2>
        <div class="row">
          <div *ngFor="let poule of poules" class="col-md-4 mb-4">
            <div class="card">
              <div class="card-header bg-primary text-white">{{ poule.nom }}</div>
              <div class="card-body">
                <ul class="list-group">
                  <li *ngFor="let equipe of poule.equipes" class="list-group-item">
                    Équipe {{ equipe }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>