<div class="container mt-5">
  <h2>Lancer un Tirage</h2>

  <!-- Formulaire pour lancer un tirage -->
  <form [formGroup]="tirageForm" (ngSubmit)="onSubmit()">
    <!-- Sélection de la compétition -->
    <div class="mb-3">
      <label for="competition_id" class="form-label">Compétition</label>
      <select
        id="competition_id"
        class="form-select"
        formControlName="competition_id"
        (change)="onCompetitionChange()"
      >
        <option value="" disabled selected>Sélectionnez une compétition</option>
        <option *ngFor="let competition of competitions" [value]="competition.id">
          {{ competition.nom }}
        </option>
      </select>
      <div *ngIf="tirageForm.get('competition_id')?.invalid && tirageForm.get('competition_id')?.touched" class="text-danger">
        La compétition est obligatoire.
      </div>
    </div>

    <!-- Affichage des équipes participant à la compétition sélectionnée -->
    <div *ngIf="equipes.length > 0" class="mb-3">
      <h4>Équipes participantes</h4>
      <ul class="list-group">
        <li *ngFor="let equipe of equipes" class="list-group-item">{{ equipe.nom }}</li>
      </ul>
    </div>

    <!-- Champ Phase -->
    <div class="mb-3">
      <label for="phase" class="form-label">Phase</label>
      <input
        type="text"
        id="phase"
        class="form-control"
        formControlName="phase"
      />
      <div *ngIf="tirageForm.get('phase')?.invalid && tirageForm.get('phase')?.touched" class="text-danger">
        La phase est obligatoire.
      </div>
    </div>

    <!-- Champ Nombre de Poules -->
    <div class="mb-3">
      <label for="nombre_poules" class="form-label">Nombre de Poules</label>
      <input
        type="number"
        id="nombre_poules"
        class="form-control"
        formControlName="nombre_poules"
      />
      <div *ngIf="tirageForm.get('nombre_poules')?.invalid && tirageForm.get('nombre_poules')?.touched" class="text-danger">
        Le nombre de poules est obligatoire.
      </div>
    </div>

    <!-- Bouton de soumission -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Lancer le Tirage</button>
    </div>
  </form>

  <!-- Liste des tirages effectués -->
  <h2>Liste des Tirages</h2>
  <ul class="list-group">
    <li *ngFor="let tirage of tirages" class="list-group-item">
      {{ tirage.phase }} - Compétition ID: {{ tirage.competition_id }} - {{ tirage.nombre_poules }} poules
    </li>
  </ul>
</div>

<script>
var path = anime.path('.motion-path-demo path');

anime({
  targets: '.motion-path-demo .el',
  translateX: path('x'),
  translateY: path('y'),
  rotate: path('angle'),
  easing: 'linear',
  duration: 2000,
  loop: true
});

</script>