<div class="container mt-5">
  <h2>Lancer un Tirage</h2>

  <!-- Formulaire pour lancer un tirage -->
  <form [formGroup]="tirageForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="phase" class="form-label">Phase</label>
      <input type="text" id="phase" class="form-control" formControlName="phase" />
      <div *ngIf="tirageForm.get('phase')?.invalid && tirageForm.get('phase')?.touched" class="text-danger">
        La phase est obligatoire.
      </div>
    </div>

    <div class="mb-3">
      <label for="competition_id" class="form-label">Compétition</label>
      <input type="number" id="competition_id" class="form-control" formControlName="competition_id" />
      <div *ngIf="tirageForm.get('competition_id')?.invalid && tirageForm.get('competition_id')?.touched"
        class="text-danger">
        La compétition est obligatoire.
      </div>
    </div>

    <div class="mb-3">
      <label for="nombre_poules" class="form-label">Nombre de Poules</label>
      <input type="number" id="nombre_poules" class="form-control" formControlName="nombre_poules" />
      <div *ngIf="tirageForm.get('nombre_poules')?.invalid && tirageForm.get('nombre_poules')?.touched"
        class="text-danger">
        Le nombre de poules est obligatoire.
      </div>
    </div>

    <!-- Boutons de soumission -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Lancer le Tirage</button>
    </div>
  </form>

  <h2>Liste des Tirages</h2>
  <ul>
    <li *ngFor="let tirage of tirages">
      {{ tirage.phase }} - {{ tirage.competition_id }} - {{ tirage.nombre_poules }} poules
    </li>
  </ul>
</div>
