
  <div class="container">
    <div class="content">
      <h1 class="bounce">404</h1>
      <h2 id="typewriter">Oups! Page non trouvée</h2>
      <p>Il semble que la page que vous cherchez n'existe pas ou a été déplacée.</p>
      <a href="/acceuil" class="btn">Retour à l'accueil</a>
    </div>
  </div>
  <script>  

    // script.js

document.addEventListener("DOMContentLoaded", function () {
  const text = "Oups! Page non trouvée";
  let index = 0;

  function typeWriter() {
    if (index < text.length) {
      document.getElementById("typewriter").innerHTML += text.charAt(index);
      index++;
      setTimeout(typeWriter, 100);
    }
  }

  typeWriter();
});

  </script>

