<div>
    <h2>Liste des Compétitions</h2>
    <ul>
      <li *ngFor="let competition of competitions">
        {{ competition.name }} - {{ competition.location }}
        <button (click)="viewCompetitionDetails(competition.id)">Voir Détails</button>
        <button (click)="deleteCompetition(competition.id)">Supprimer</button>
      </li>
    </ul>
  
    <div *ngIf="selectedCompetition">
      <h3>Détails de la compétition</h3>
      <p>Nom : {{ selectedCompetition.name }}</p>
      <p>Lieu : {{ selectedCompetition.location }}</p>
      <p>Date : {{ selectedCompetition.date }}</p>
      <button (click)="updateCompetition(selectedCompetition.id, selectedCompetition)">Mettre à jour</button>
    </div>
  
    <div>
      <h3>Ajouter une nouvelle compétition</h3>
      <input [(ngModel)]="newCompetition.name" placeholder="Nom" />
      <input [(ngModel)]="newCompetition.location" placeholder="Lieu" />
      <input [(ngModel)]="newCompetition.date" type="date" placeholder="Date" />
      <button (click)="addCompetition()">Ajouter</button>
    </div>
  </div>
  