<!-- source:https://codepen.io/owaiswiz/pen/jOPvEPB -->
<div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
  <div class="max-w-full m-0 sm:m-10 bg-white shadow sm:rounded-lg flex justify-center flex-1">

    <div class="flex-1 bg-[#007461] text-center hidden lg:flex">
      <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
          style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');">
      </div>
  </div>
    <div class="lg:w-1/2 xl:w-7/12 p-6 sm:p-12">

          <div class="mt-2 flex flex-col items-center">
              <h1 class="text-2xl xl:text-3xl font-extrabold">
                Créer un compte              </h1>
              <div class="w-full flex-1 mt-8">
                <form (ngSubmit)="register()" [formGroup]="registrationForm">

                  <div class="my-12 border-b text-center">
                    <div class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">
                      Avez vous déja un compte? Se connecter                    </div>
                  </div>

                  <div class="mx-auto ">
                    <div class="flex gap-6">
                      <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="text" id="nom" formControlName="nom" placeholder="Nom" />
                      <div *ngIf="registrationForm.get('nom')?.invalid && registrationForm.get('nom')?.touched">
                        <small *ngIf="registrationForm.get('nom')?.errors?.['required']">Le nom est requis.</small>
                      </div>
                    <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="text" id="prenom" formControlName="prenom" placeholder="Prenom" />
                      <div *ngIf="registrationForm.get('prenom')?.invalid && registrationForm.get('prenom')?.touched">
                        <small *ngIf="registrationForm.get('prenom')?.errors?.['required']">Le prénom est requis.</small>
                      </div>

                    </div>

                    <div class="flex gap-6">



                    <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="text" id="adresse" formControlName="adresse" placeholder="Adresse" />
                      <div *ngIf="registrationForm.get('adresse')?.invalid && registrationForm.get('adresse')?.touched">
                        <small *ngIf="registrationForm.get('adresse')?.errors?.['required']">L'adresse est requise.</small>
                      </div>
                    <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="tel" id="telephone" formControlName="telephone" placeholder="Telephone" />
                      <div *ngIf="registrationForm.get('telephone')?.invalid && registrationForm.get('telephone')?.touched">
                        <small *ngIf="registrationForm.get('telephone')?.errors?.['required']">Le téléphone est requis.</small>
                        <small *ngIf="registrationForm.get('telephone')?.errors?.['pattern']">Le téléphone doit être un numéro valide à 10 chiffres.</small>
                      </div>
                    </div>
                    <div class="flex gap-6">

                      <select
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      id="specialisation" formControlName="specialisation">
                      <option value="">Choisir une spécialisation</option>
                      <option *ngFor="let domaine of domaines" [value]="domaine.nom">{{ domaine.nom }}</option>
                    </select>

                    <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="text" id="biographie" formControlName="biographie" placeholder="Biographie" />

                    </div>
                    <div class="flex gap-6">

                      <input
                      class="w-full mt-5   px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                      type="email" id="email" formControlName="email" placeholder="Email" />
                      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
                        <small *ngIf="registrationForm.get('email')?.errors?.['required']">L'email est requis.</small>
                        <small *ngIf="registrationForm.get('email')?.errors?.['email']">L'email doit être valide.</small>
                      </div>
                    <input
                      class="w-full mt-5  px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
                      type="password" id="password" formControlName="password" placeholder="Mot de passe" />
                      <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
                        <small *ngIf="registrationForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
                        <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins 6 caractères.</small>
                      </div>
                    </div>

                    <button
                      type="submit"
                      class="mt-5 tracking-wide font-semibold bg-[#007461] text-gray-100 w-full py-3 rounded-lg hover:bg-[#03a98e] transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                      <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round">
                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                        <circle cx="8.5" cy="7" r="4" />
                        <path d="M20 8v6M23 11h-6" />
                      </svg>
                      <span class="ml-3">Inscription</span>
                    </button>

                  </div>
                </form>


              </div>
          </div>
      </div>

  </div>
</div>
