.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.competition-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 230px ;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;

}

.competition-card h3 {
  color: #0056b3;
  margin-bottom: 10px;

}

 .competition-card button {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold; }




.empty-message {
  text-align: center;
  margin-top: 20px;
}

.empty-message p {
  font-style: italic;
}
.competition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  font-weight: bold;
}


 .competition-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.competition-card h3 {
  color: #0056b3;
  margin-bottom: 10px;
}
.competition-card p {
  margin-bottom: 10px;
}
.competition-card button {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.competition-card button:hover {
  background-color: #0056b3;
}
.competition-card button:last-child {
  margin-right: 0;
}
.competition-card button:focus {
  outline: none;
}
.competition-card button:active {
  background-color: #004080;
  transform: scale(0.95);
  transition: transform 0.2s ease;
}
  .competition-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.competition-card button:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}
