<!-- <div class="container">
  <h2 class="title">Liste des Compétitions</h2>

  <div *ngIf="competitions.length === 0" class="empty-message">
    Aucun compétition disponible.
  </div>

  <div class="competition-grid">
    <div class="competition-card" *ngFor="let competition of competitions | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
      <h3>{{ competition.nom }}</h3>
      <p>Dates: début prévue: {{ competition.date_debut }}</p>
      <p>fin prévue: {{ competition.date_fin }}</p>
      <button (click)="viewCompetition(competition.id)">Détails</button>
      <button (click)="editCompetition(competition.id)">Modifier</button>
      <button (click)="deleteCompetition(competition.id)">Supprimer</button>
    </div>
  </div>

  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Précédent</button>
    <span>Page {{ currentPage }} de {{ totalPages }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Suivant</button>
  </div>
</div> -->
